<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.khen.mapper.BoardMapper">
	
	<select id="getList" resultType="org.khen.vo.BoardVO">
		<![CDATA[
		select bno, title, content, writer, regdate
		from (
		select d.bno, d.title, d.content, d.writer, d.regdate
		from tbl_board as d
		where d.bno < #{amount, jdbcType=INTEGER} * #{page, jdbcType=INTEGER}+1
		and d.bno > #{page, jdbcType=INTEGER}*10-10
		order by d.bno asc 
		) A
		limit 0, 10
		]]>
	</select>
	<select id="getTotal" resultType="int">
	select count(*) from tbl_board
	</select>
	<select id="insert" resultType="org.khen.vo.BoardVO">
	insert into tbl_board (title,content,writer) values (#{title},#{content},#{writer})
	</select>
	
</mapper>
